apiVersion: v1
baseDomain: ovn.test.org
compute:
 - name: worker
   replicas: 2
controlPlane:
   name: master
   platform: {}
   replicas: 3
metadata:
   name: dev
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
   none: {}
   apiVIP: 192.168.111.5
   ingressVIP: 192.168.111.4
   dnsVIP: 192.168.111.3
   hosts:
      # Master nodes are always RHCOS
      # nfvpe-06
      -  name: master-0
         role: master
         bmc:
            address: ipmi://10.19.111.17
            credentialsName: ha-lab-ipmi
         # boot interface name: eno2
         # sdn interface name:
         bootMACAddress: a4:bf:01:51:30:4c  # provisioning network mac
         sdnMacAddress: 3c:fd:fe:b5:18:8c   # baremetal network mac
         # sdnIPAddress: 192.168.111.11     # Optional -- Set static IP
         hardwareProfile: default
         osProfile: 
            # With role == master, the osType is always rhcos
            # And with type rhcos, the following are settings are available
            pxe: bios         # pxe boot type either bios (default if not specified) or uefi
                              # all masters must have the same pxe value.  Either defaulting to bios
                              # or all masters with pxe: uefi
            install_dev: sda  # where to install the operating system (sda is the default)

      # nfvpe-11
      -  name: master-1
         role: master
         bmc:
            address: ipmi://10.19.111.27
            credentialsName: ha-lab-ipmi
         # boot interface name: eno2
         # sdn interface name:
         bootMACAddress: a4:bf:01:51:42:19  # provisioning network mac
         sdnMacAddress: 3c:fd:fe:b5:75:fc   # baremetal network mac
         # sdnIPAddress: 192.168.111.11     # Optional -- Set static IP
         hardwareProfile: default
         osProfile: 
            # With role == master, the osType is always rhcos
            # And with type rhcos, the following are settings are available
            pxe: bios         # pxe boot type either bios (default if not specified) or uefi
                              # all masters must have the same pxe value.  Either defaulting to bios
                              # or all masters with pxe: uefi
            install_dev: sda  # where to install the operating system (sda is the default)

      # nfvpe-14
      -  name: master-2
         role: master
         bmc:
            address: ipmi://10.19.111.33
            credentialsName: ha-lab-ipmi
         # boot interface name: eno2
         # sdn interface name:
         bootMACAddress: a4:bf:01:51:30:53  # provisioning network mac
         sdnMacAddress: 3c:fd:fe:b5:80:ac   # baremetal network mac
         # sdnIPAddress: 192.168.111.11     # Optional -- Set static IP
         hardwareProfile: default
         osProfile: 
            # With role == master, the osType is always rhcos
            # And with type rhcos, the following are settings are available
            pxe: bios         # pxe boot type either bios (default if not specified) or uefi
                              # all masters must have the same pxe value.  Either defaulting to bios
                              # or all masters with pxe: uefi
            install_dev: sda  # where to install the operating system (sda is the default)

      # nfvpe-07
      -  name: worker-0
         role: worker
         bmc: 
            address: ipmi://10.19.111.19
            credentialsName: ha-lab-ipmi
         # boot interface name: eno2
         # sdn interface name: ens803f0
         bootMACAddress: a4:bf:01:51:7e:40
         sdnMacAddress: 98:03:9b:97:38:de
         hardwareProfile: default

      # nfvpe-08
      -  name: worker-1
         role: worker
         bmc: 
            address: ipmi://10.19.111.21
            credentialsName: ha-lab-ipmi
         # boot interface name: eno2
         # sdn interface name: ens787f0
         bootMACAddress: a4:bf:01:51:47:59
         sdnMacAddress: 98:03:9b:97:21:e6
         hardwareProfile: default

pullSecret: '{{ pull_secret }}'

sshKey: |
   {{ ssh_pub_key.stdout }}
